{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-param-reassign": "off",
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": "off",
    "no-use-before-define": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/sort-comp": 0,
    "max-len": ["error", 120],
    "react/prop-types": 0,
    "global-require": 0,
    "consistent-return": 0,
    "react/require-default-props": 1,
    "react/forbid-prop-types": 1,
    "import/prefer-default-export": 1,
    "react/prefer-stateless-function": 0
  }
}